@using Ictshop.Models;
@model List<Hangsanxuat>




<div class="bg-success">

    <h3> DANH MỤC  </h3>

    <div class="row" >

            <div class="  col-md-3" >
                <div class="form-inline"  >

                    <button class="success"><a href="@Url.Action("dtiphonePartial", "Sanpham")">  Thịt </a></button>
                    <button class="success"><a href="@Url.Action("dtsamsungpartial", "Sanpham")"> Rau Củ </a></button>
                    <button class="success"><a href="@Url.Action("dtxiaomipartial", "Sanpham")"> Gia Vị </a></button>
                    <button class="success"><a href="@Url.Action("dtbphonepartial", "Sanpham")"> Món Ăn </a></button>
                </div>
                
            </div>
        
    </div>
</div>